{
    "ignore_tables": [
        "acl_user_role",
        "acris_tax_vat_id_validation_log",
        "cart",
        "customer",
        "customer_address",
        "customer_recovery",
        "customer_tag",
        "customer_wishlist",
        "customer_wishlist_product",
        "document",
        "elasticsearch_index_task",
        "enqueue",
        "import_export_log",
        "integration",
        "integration_role",
        "iwv_export_docs_ext_doc_document_data",
        "iwv_export_docs_ext_doc_document_position",
        "klarna_payment_request_log",
        "lae_loyalty_history",
        "lae_loyalty_points",
        "log_entry",
        "message_queue_stats",
        "newsletter_recipient",
        "newsletter_recipient_tag",
        "notification",
        "order",
        "order_address",
        "order_customer",
        "order_delivery",
        "order_delivery_position",
        "order_line_item",
        "order_return",
        "order_return_line_item",
        "order_tag",
        "order_transaction",
        "paynl_transactions",
        "payone_payment_card",
        "payone_payment_mandate",
        "payone_payment_redirect",
        "product_export",
        "product_keyword_dictionary",
        "product_review",
        "product_search_keyword",
        "promotion_persona_customer",
        "refresh_token",
        "reloadify_abandoned_cart",
        "sales_channel_api_context",
        "sidworks_search_results",
        "state_machine_history",
        "unzer_payment_payment_device",
        "unzer_payment_transfer_info",
        "usage_data_entity_deletion",
        "user",
        "user_access_key",
        "user_config",
        "user_recovery",
        "version",
        "version_commit",
        "version_commit_data",
        "webhook_event_log"
    ],
    "system_config": {
        "core.basicInformation.email": "local@example.com",
        "core.mailerSettings.host": "localhost",
        "core.mailerSettings.port": "1025"
    },
    "sales_channel_domains": {
        "018d5f1e5e7e7f1e8b8d5f1e5e7e7f1e": "https://your-project.ddev.site"
    },
    "sql_updates": [
        "UPDATE sales_channel_domain SET url = REPLACE(url, 'production.com', 'ddev.site')"
    ],
    "post_sync_commands": [
        "user:create admin -a --email info@example.com -p thisIsMyPassword",
        "plugin:refresh",
        "plugin:install SidworksDatabaseSync -a",
        "theme:compile"
    ]
}
